<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">
    <Properties>
        <Property name="LOG_DIR">${sys:web.root}/logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
        <Property name="NEW_PATTERN">%5-level %d [%t] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="${NEW_PATTERN}"/>
        </Console>
        <File name="InfoWriter"
              fileName="info.log"
              append="false">
            <PatternLayout pattern="${PATTERN}"/>
            <ThresholdFilter level="INFO"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="InfoWriter"/>
            <AppenderRef ref="STDOUT"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
        </Root>
        <Logger name="algorithms" level="TRACE" additivity="false">
            <AppenderRef ref="Async"/>
        </Logger>
    </Loggers>
</Configuration>